In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [3]:
df = pd.read_csv(r'C:\Users\thiag\Desktop\Programação\Data Science\Curso DS\MaterialAula\00Feito\10.Prática em Python\dados\tempo.csv', sep=';')
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [3]:
agrupado1 = df.groupby(['Aparencia']).size()
agrupado1

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
agrupado2 = df.groupby(['Temperatura']).size()
agrupado2

In [ ]:
agrupado3 = df.groupby(['Umidade']).size()
agrupado3

In [ ]:
agrupado4 = df.groupby(['Vento']).size()
agrupado4

In [ ]:
agrupado5 = df.groupby(['Jogar']).size()
agrupado5

In [ ]:
df.isnull().sum()

TRATAMENTO DE DADOS

In [ ]:
df.loc[df['Aparencia'] == 'menos', 'Aparencia'] = "sol"
agrupado1 = df.groupby(['Aparencia']).size()
agrupado1

In [ ]:
df.loc[(df['Temperatura'] < -130 ) | (df['Temperatura'] > 130)]

In [ ]:
mediana = sts.median(df['Temperatura'])
mediana

In [ ]:
df.loc[(df['Temperatura'] < -130 ) | (df['Temperatura'] > 130), 'Temperatura'] = mediana
df.loc[(df['Temperatura'] < -130 ) | (df['Temperatura'] > 130)]

In [ ]:
df.loc[(df['Umidade'] < 0) | (df['Umidade'] > 100)]

In [ ]:
mediana = sts.median(df['Umidade'])
mediana
df.loc[(df['Umidade'] < 0 ) | (df['Umidade'] > 100), 'Umidade'] = mediana
df['Umidade'].fillna(mediana, inplace=True)

In [ ]:
df['Vento'].fillna('FALSO', inplace=True)

In [ ]:
df.head()

In [ ]:
srn.histplot(df['Aparencia']).set_title('Aparencia')

In [ ]:
srn.histplot(df['Temperatura']).set_title('Temperatura')

In [ ]:
srn.histplot(df['Umidade']).set_title('Umidade')

In [ ]:
srn.histplot(df['Vento']).set_title('Vento')

In [ ]:
srn.histplot(df['Jogar']).set_title('Jogar')